/*Задаем настройки для body, html - height в 100% для того чтобы прибить футер к низу несмотря на количество контента в теге body*/
body, html {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	padding: 0px;
	margin: 0;
	}
.wrapper{
	/*width: 100%;*/
	max-width: 1440px; /*для теста фиксированной верстки поменял на min-width, до этого было max-width*/
	margin: auto;
	overflow: hidden;
	padding: 0px 0px 10px 0px;
}
	/*Делаем горизонтальную панель навигации*/
ul, li {
	list-style: none;
	display: flex;
	margin-left: 70px;  
	word-spacing: 68px; 
}
	/*Задаем стили кнопкам панели навигации*/
a {
	text-decoration: none;
	font-size: 25px;
	line-height: 1.2px;
	font-weight: 400;
	color: #ffffff;
}
/*Устанавливаем фоновое изображение*/
.header-background {
	width: 100%;
    height: 796px;
	background-image: url(../Restaurant/img/background.png);
	background-repeat: no-repeat; 
	background-color: #303030;		
}

/*Делаем флекс онтейнер для навигации и основного контента хэдэра*/
.toolbar {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 20px 10px;
}
.toolbar__logo{
	background-image: url(../Restaurant/img/Logo.png);
	background-repeat: no-repeat;
	width: 185px;
	height: 40px;
	color: #fff;
}
.toolbar__menu{
	color: #fff;
	margin-left: 50px;
}
.toolbar__search img{
	background-image: url(../Restaurant/img/search.png);
	width: 30px;
	height: 30px;
	color: #fff;
}
.header-content-row{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 42%;
	margin-left: 45%;
	margin-top: 5%;
	color: #fff;
	position: relative;
}
.header-content-row::before {
	content: "";
	background-image: url(../Restaurant/img/olive.png);
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 500px;
}
.header-content-row::after {
	content: "";
	background-image: url(../Restaurant/img/garlick.png);
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 550px;
	left: 500px;
}

.title {
	font-family: 'Grand Hotel', cursive;	
}
.header__title h3 {
	font-size: 120px;
	line-height: 1.1px;
	font-weight: 100;
	color: #ffc200;	
}
.header__title::before {
	content: "";
	background-image: url(../Restaurant/img/olive.png);
	background-repeat: no-repeat;
	width: 85px;
	height: 130px;
	position: absolute;
	left: -50px;
	top: -60px;
}
.header__title::after {
	content: "";
	background-image: url(../Restaurant/img/peper.png);
	background-repeat: no-repeat;
	width: 110px;
	height: 110px;
	position: absolute;
	right: -50px;
	top: -50px;
}
.subtitle {
	font-family: 'Montserrat', sans-serif;
}
.header__subtitle p{
	font-size: 29.8px;
	line-height: 1.2;
	font-weight: 400;
	color: #ffffff;
	width: 100%;
}
.header__subtitle::before {
	content: "";
	background-image: url(../Restaurant/img/petrushka.png);
	background-repeat: no-repeat;
	width: 85px;
	height: 130px;
	position: absolute;
	left: -150px;
	top: 150px;
}
.header__subtitle::after {
	content: "";
	background-image: url(../Restaurant/img/olive.png);
	background-repeat: no-repeat;
	width: 85px;
	height: 130px;
	position: absolute;
	right: -140px;
	top: 100px;
}
.header__button p{
	display: flex;
	font-family: 'Montserrat', sans-serif;
	font-size: 19.3px;
	font-weight: 700;
	line-height: 1.2;
	text-transform: uppercase;
	color: #333333;
	border: 1px solid #ffc200;
	background-color: #ffc200;
	width: 100%;
	padding: 0px 40px;
	height: 50px;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	
}
.header__button::before {
	content: "";
	background-image: url(../Restaurant/img/tomato.png);
	background-repeat: no-repeat;
	width: 115px;
	height: 110px;
	position: absolute;
	left: 190px;
	top: 500px;
}
.header__button::after {
	content: "";
	background-image: url(../Restaurant/img/onion.png);
	background-repeat: no-repeat;
	width: 90px;
	height: 110px;
	position: absolute;
	right: -140px;
	top: 350px;
}
.bestseller {
	text-align: center;
}
.bestseller-block {
	display: flex;
	flex-direction: column;
}
.bestseller-header {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.bestseller-header__title {
	font-family: 'Grand Hotel';
	font-size: 75px;
	line-height: 1.2;
	font-weight: 400;
	color: #333333;
	width: 60%;	
}
.bestseller-header__subtitle {
	font-family: 'Montserrat';
	font-size: 25.3px;
	line-height: 1.2;
	font-weight: 400;
	color: #333333;
	width: 60%;
}
.bestseller-cards-row {
	display: flex;
}
.card {
	display: flex;
	flex-direction: column;	
	align-items: center;
}

.bestseller-card-left__img {
	background-image: url(../Restaurant/img/mask_1.png);
	background-repeat: no-repeat;
	width: 250px;
	height: 250px;	
}
.bestseller-card-left__title, 
.bestseller-card-center__title, 
.bestseller-card-right__title {
	font-family: 'Grand Hotel';
	font-size: 41.7px;
	line-height: 1.2;
	font-weight: 400;
	color: #333333;
}
.bestseller-card-left__subtitle,
.bestseller-card-center__subtitle,
.bestseller-card-right__subtitle{
	font-family: 'Montserrat';
	font-size: 16.9px;
	line-height: 1.2;
	font-weight: 500;
	color: #333333;	
}

.bestseller-card-center__img {
	background-image: url(../Restaurant/img/mask_2.png);
	background-repeat: no-repeat;
	width: 250px;
	height: 250px;	
}

.bestseller-card-right__img {
	background-image: url(../Restaurant/img/mask_3.png);
	background-repeat: no-repeat;
	width: 250px;
	height: 250px;	
}
.orientaltaste-background {
	background-image: url(../Restaurant/img/img2rotate.png);
	background-position-y: 200px;
	background-repeat: no-repeat;
	width: 1440px;
	height: 1103px;	
}
.orientaltaste-row {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.orientaltaste-row__img {
	background-image: url(../Restaurant/img/mask_4.png);
	background-repeat: no-repeat;
	width: 470px;
	height: 460px;
	margin-top: 10%;
}
.orientaltaste-row-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 10%;
	width: 40%;	
}
.orientaltaste-text__title {
	font-size: 75px;
	line-height: 1.2;
	font-weight: 200;
	color: #ffc200;
}
.orientaltaste-text__subtitle {
	font-size: 25px;
	line-height: 1.2;
	font-weight: 400;
	color: #ffffff;
}
.orientaltaste-text__button {
	display: flex;
	font-family: 'Montserrat', sans-serif;
	font-size: 19.3px;
	font-weight: 700;
	line-height: 1.2;
	text-transform: uppercase;
	color: #333333;
	border: 1px solid #ffc200;
	background-color: #ffc200;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	width: 40%;
	padding: 0px 40px;
	height: 67px;
}
.statistics {
	align-items: center;
	background-image: url(../Restaurant/img/imgrotate-180.png);
	background-repeat: no-repeat;
	background-position-y: 480px;
	width: 1440px;
	height: 1500px;
}
.statistics-column {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: #303030;
	margin-top: -20%;
}
.statistics__title {
	font-size: 100px;
	line-height: 1.2;
	font-weight: 400;
	color: #ffc200;
	position: relative;
}
.statistics__title::before{
	content: "";
	background-image: url(../Restaurant/img/olive.png);
	background-repeat: no-repeat;
	opacity: 0.3;
	width: 85px;
	height: 130px;
	position: absolute;
	left: -200px;
	top: 40px;	
}
.statistics__title::after{
	content: "";
	background-image: url(../Restaurant/img/peper.png);
	background-repeat: no-repeat;
	opacity: 0.3;
	width: 110px;
	height: 110px;
	position: absolute;
	right: -350px;
	top: 60px;	
}
.statistics__subtitle {
	font-size: 24.7px;
	line-height: 1.2;
	font-weight: 400;
	width: 60%;
	text-align: center;
	margin-top: -10%;
	margin-bottom: 5%;
	color: #ffffff;
	position: relative;
}
.statistics__subtitle::before {
	content: "";
	background-image: url(../Restaurant/img/petrushka.png);
	background-repeat: no-repeat;
	opacity: 0.3;
	width: 85px;
	height: 130px;
	position: absolute;
	left: -200px;
}
.statistics__subtitle::after {
	content: "";
	background-image: url(../Restaurant/img/olive.png);
	background-repeat: no-repeat;
	opacity: 0.3;
	width: 40px;
	height: 40px;
	position: absolute;
	right: -200px;
	top: -30px;
}
.statistics-row {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.statistics-row__numbers {
	font-family: 'Montserrat';
	font-size: 50.6px;
	line-height: 1.2;
	font-weight: 700;
	color: #ffc200;
}
.circle {
	width: 235px;
	height: 235px;
	border: 5px solid #fff;
	border-radius: 50%;
	text-align: center;
	margin-left: 40px;
}
.statistics-row__text {
	font-family: 'Montserrat';
	font-size: 28.9px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
}
.chickengrill-background {
	text-align: center;
	height: 796px;
	
}
.chickengrill-row {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: -45%;
}
.chickengrill-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 50%;
	margin-left: 11%;
}
.chickengrill-text__title {
	font-size: 75px;
	line-height: 1.2;
	font-weight: 200;
	color: #ffc200;	
}
.chickengrill-text__subtitle {
	font-size: 25px;
	line-height: 1.2;
	font-weight: 400;
	color: #ffffff;
	width: 50%;
	text-align: left;	
}
.chickengrill-text__button {
	display: flex;
	font-family: 'Montserrat', sans-serif;
	font-size: 19.3px;
	font-weight: 700;
	line-height: 1.2;
	text-transform: uppercase;
	color: #333333;
	border: 1px solid #ffc200;
	background-color: #ffc200;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	width: 30%;
	padding: 0px 40px;
	height: 50px;
}
.chickengrill-img {
	background-image: url(../Restaurant/img/mask_5.png);
	background-repeat: no-repeat;
	width: 470px;
	height: 470px;
}
.lenorafilds-background-img {
	background-image: url(../Restaurant/img/lenora_img.png);
	width: 1440px;
	height: 900px;
	margin-top: -5%;
}
.lenorafilds-background-color {
	background-color: rgba(255, 194, 0, 0.9);
	width: 1440px;
	height: 900px;
	margin-top: -5%;
	opacity: 0.7;
	text-align: center;
}
.lenorafilds-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
.lenorafilds__subtitle {
	font-size: 44.9px;
	line-height: 1.2;
	font-weight: 400;
	color: black;
	width: 63%;
	margin-top: 15%;
}
.lenorafilds__title {
	font-size: 74.2px;
	line-height: 1.2;
	font-weight: 400;
	color: black;
	width: 23%;
	margin-top: -5%;
}
.subscribe {
	background-image: url(../Restaurant/img/Background-veg.png);
	width: 1440px;
	height: 796px;
	text-align: center;
	width: 1440px;
	height: 796px;
}
.subscribe-content-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.subscribe-title {
	font-size: 100px;
	line-height: 1.2;
	font-weight: 400;
	color: #333333;
	margin-top: 1%;
}

.subscribe-subtitle {
	font-size: 29.8px;
	line-height: 1.2;
	font-weight: 400;
	color: #333333;
	margin-top: -10%;
	width: 58%;
}
.input-text {
	border: none;
	width: 540px;
	height: 65px;
	color: gray;
	padding: 0px 0px 0px 30px;
	font-size: 25px;
	line-height: 1.2;
	font-weight: 400;
	color: gray;
}
.input-text:hover {
	border: 1px solid lightblue;
	width: 540px;
	height: 65px;
	color: #333333;
	padding: 0px 0px 0px 30px;
	font-size: 25px;
	line-height: 1.2;
	font-weight: 400;
}
.input-text:active {
	border: 1px solid lightblue;
	width: 540px;
	height: 65px;
	padding: 0px 0px 0px 30px;
	font-size: 25px;
	line-height: 1.2;
	font-weight: 400;
	color: #333333;
}
input::placeholder {
	transition: 0.5s; /* Время трансформации */
	color: #aaa; /* Цвет подсказки */
  }
input:focus::placeholder { 
	font-size: 10px; /* Размер шрифта */
	transform: translateX(-100px); /* Сдвигаем вверх */
  }
  .input-button {
	width: 220px;
	height: 65px;
	background-color: #ffc200;
	border: none;
	border-radius: 0px 4px 4px 0px;
	font-size: 25px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #333333;
}
	
